<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SJ - Home</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="" href="./images/LogoSample_ByTailorBrands.ico">
    <script src="js/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>
        <!--<%= messages %>-->

    <% include templates/header.ejs %>

        <section class="container">


            <article>
                
                <span>
                    <div id="img">
                        <div class="title">
                            <h1>Vicario Williams</h1>
                        </div>
                    </div>
                </span>

            </article>

            <section>

                <h1>Latest</h1>

                <div class="post-wrap">

                        <div class="post">

                            <h1>
                                <%= data[data.length-1].title %>
                            </h1>
                            <div class="post-bottom">
                                <span><%= data[data.length-1].timeDate %></span>
                                <%- `<a href=/view/${data[data.length-1].id}>` %>
                                    <button>
                                        <span>Read More</span>
                                    </button>
                                </a>
                            </div>

                        </div>

                    </div>
                
                <h1 style="grid-column: 1/4;">Popular</h1>

                <% if (data.length != 0) { %>
                
                <% data.forEach(function(data){ %>

                    <div class="post-wrap">

                        <div class="post">

                            <h1>
                                <%= data.title %>
                            </h1>
                            <div class="post-bottom">
                                <span><%= data.timeDate %></span>
                                <%- `<a href=/view/${data.id}>` %>
                                    <button>
                                        <span>Read More</span>
                                    </button>
                                </a>
                            </div>

                        </div>

                    </div>

                <% }) %>
                <% } else { %>
                    <p>You have no posts yet.</p>
                <% } %>
            </section>



        </section>

        <% include templates/footer.ejs %>

        <script src="js/script.js"></script>
        

</body>

</html>